[submodule "writing"]
	path = writing
	url = https://github.com/alanlujan91/writing.git
[submodule "code/HARK"]
	path = code/HARK
[submodule "code/ConsumptionSavingNotebooks"]
	path = code/ConsumptionSavingNotebooks
	url = https://github.com/NumEconCopenhagen/ConsumptionSavingNotebooks.git
